h1{
	text-align: center;
}

header {
	background-color: #fff;
	overflow: hidden;
	top: 0;
	padding: 0;
	margin: 0;
	position: fixed;
	width: 100%;
}

img {
	float: left;
}
nav ul {
	list-style-type: none;
	top: 0;
	margin: 0;
}
nav li {
	float: right;
}
nav a {
	float: right;
	display: block;
	color: #192bc2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover {
	background-color: #192bc2;
	color: #fff;
}
body {
	background-image: url('../img/pattern.jpg');
}
section {
	background-color: #fff;
	padding: 20px;
	margin: 40px;
}
section div {
	border-bottom: solid 1px #999;
}
a{
	color: #000;
	text-decoration: none;
}
footer {
	margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
}